[submodule "dependencies/minhook"]
	path = dependencies/minhook
	url = https://github.com/m417z/minhook.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui
	branch = master
[submodule "dependencies/mINI"]
	path = dependencies/mINI
	url = https://github.com/pulzed/mINI.git
[submodule "dependencies/Memcury"]
	path = dependencies/Memcury
	url = https://github.com/matty45/Memcury.git
	branch = patch-1
